
@model MVC.ViewModels.LoginViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {

        <div>
            <fieldset>
                <div>@TempData["Message"]</div>
                <div class="editor-label">
                    UserCode
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UserLogin)
                </div>

                <div class="editor-label">
                    @Model.Dictionary.Label6
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                </div>
                <input style="margin:5px" type="submit" value="@Model.Dictionary.Label30" />
            </fieldset>
        </div>
    }
}
<p>
    @Html.ActionLink(Model.Dictionary.Label31, "NewPassword", "Home")
</p>


