@model DataAccessLayer.Model.FlexDeskDb.Department

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Svg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Svg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FloorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FloorId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>
<div>
    @Html.ActionLink("Departments of this Floor", "Index", new { floorId = Model.FloorId }) |
    @Html.ActionLink("All departments", "Index")
</div>
