@model MVC.ViewModels.DepartmentViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Department", new { floorId = Model.FloorId })
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FloorId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DepartmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId }) |
                @Html.ActionLink("FlexDesks", "Index", "Flexdesk", new { departmentId = item.DepartmentId, buildingId=Model.BuildingId, floorId=Model.FloorId }) |
                @Html.ActionLink("Users", "Index", "User", new { departmentId = item.DepartmentId, buildingId = Model.BuildingId, floorId = Model.FloorId })
            </td>
        </tr>
}
    </tbody>
</table>

@Html.ActionLink("Back to Floors", "Index", "Floor", new { id = Model.BuildingId })
