
@model MVC.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ActiveUser.Administrator == 1)
{
    <div class="dataNok">@ViewData["message2"]</div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserCode" class="control-label">UserCode</label>
                    <input asp-for="UserCode" class="form-control" />
                    <span asp-validation-for="UserCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Change User" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="FlexDesks">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">                
                <label asp-for="UserId" class="control-label" style="display:none"></label>
                <input asp-for="UserId" class="form-control" style="display:none" />                
                <span asp-validation-for="UserCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label">@Model.Dictionary.Label2</label>
                <input asp-for="Start" class="form-control" type="date" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label">@Model.Dictionary.Label3</label>
                <input asp-for="End" class="form-control" type="date" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@Model.Dictionary.Label1 @Model.User.FirstName @Model.User.Name" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="dataNok">@ViewData["message"]</div>
<h2>@Model.Dictionary.Label12 @Model.User.FirstName @Model.User.Name</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Model.Dictionary.Label2
            </th>
            <th>
                @Model.Dictionary.Label3
            </th>
            <th>
                FlexDeskCode
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlexDesk.FlexDeskCode)
                </td>
                <td >
                    @Html.ActionLink(@Model.Dictionary.Label5, "Delete", new { id = item.ReservationId }) 
                </td>
            </tr>
        }
    </tbody>
</table>



